@import url("https://fonts.googleapis.com/css?family=Atomic Age");
#root {
  height: 100%;
  width: 100%;
  margin: 0%;
}
body {
  font-family: "Atomic Age";
  background-color: rgb(38, 38, 38);
  background-image: url("https://uploads.codesandbox.io/uploads/user/d9d5cefe-e7a3-4c81-9c8a-bbf46cd15d18/NoUC-pexels-photo-276092.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}

.marginLeft {
  transition: all 0.8s;
  margin-left: 0px;
}

.marginMoved {
  transition: all 0.2s;
  margin-left: 165px;
}

@keyframes darkGlow {
  0% {
    text-shadow: 0 0 0px rgb(0, 0, 0);
  }
  100% {
    text-shadow: 0 0 50px rgb(0, 0, 0);
  }
}
